
<div class="bckground">
  <div>
    <span *ngIf="(estaCadastradoP===false)">
      <a href="javascript:;" (click)="temCadastroP=false" (click)="temCadastroA=true">Se cadastrar como Professor  |</a>
    </span>
    <span *ngIf="(estaCadastradoA===false)">
      <a href="javascript:;" (click)="temCadastroA=false" (click)="temCadastroP=true">  Se cadastrar como Aluno</a>
    </span>
  </div>
    <br>
  <div *ngIf="temCadastroP==false">
    <!--Form do Professor-->
    <form #professorForm="ngForm" (onSubmit)="onSubmitP()"> <!--#f="ngForm"-->
      <!--parte professor-->
      <div class="ui-g-12 ui-fluid"> <!--  class="form-group"-->
        <label for="displayNameP" class="label">Nome</label>
        <br>
        <input pInputText type="text" class="form-control"  placeholder="Nome Sobrenome" name="displayNameP" [(ngModel)]="professor.displayName"
          #displayNameP="ngModel"  required minlength="5">

        <app-message [control]="displayNameP" error="required"
        text="Informe o nome"></app-message>

        <app-message [control]="displayNameP" error="minlength"
        text="Mínimo de {{ displayNameP.errors?.minlength?.requiredLength }} caracteres!"></app-message>
        <!--div class="erro" *ngIf="!nome.valid && nome.touched">Campo Obrigatório!</div-->
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Telefone</label>
        <p-inputMask mask="(99)99999-9999" name="telefone" [(ngModel)]="professor.telefone"
          #telefone="ngModel" required></p-inputMask>
          <app-message [control]="telefone" error="required"
            text="Informe o Telefone"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Nome da Área</label>
          <p-dropdown [options]="nomeArea" placeholder="Selecione" [autoWidth]="false" [filter]=true
            [(ngModel)]="area.displayName" name="areaProf" #areaProf="ngModel" required>
          </p-dropdown>
          <app-message [control]="areaProf" error="required"
          text="Informe o nome"></app-message>
        </div>

        <div class="ui-md-2 ui-fluid">
            <button pButton label="Cadastrar" (click)="onSubmitP(professor)" (click)="onSubmitD(area)"  class="ui-button-warning" [disabled]="!professorForm.valid"></button>
        </div>
    </form>
  </div>

  <div *ngIf="temCadastroA==false">
      <!--Form do Aluno-->
    <form #alunoForm="ngForm"  (onSubmit)="onSubmitA()">
      <!--parte Aluno-->
      <div class="ui-g-12 ui-fluid"> <!--  class="form-group"-->
        <label for="displayNameA" class="label">Nome</label>
        <input pInputText type="text" class="form-control"  placeholder="Nome Sobrenome" name="displayNameA" [(ngModel)]="aluno.displayName"
          #displayNameA="ngModel"  required minlength="5">

        <app-message [control]="displayNameA" error="required"
        text="Informe o nome"></app-message>

        <app-message [control]="displayNameA" error="minlength"
        text="Mínimo de {{ displayNameA.errors?.minlength?.requiredLength }} caracteres!"></app-message>
        <!--div class="erro" *ngIf="!nome.valid && nome.touched">Campo Obrigatório!</div-->
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Telefone</label>
        <p-inputMask mask="(99)99999-9999" name="telefone" [(ngModel)]="aluno.telefone"
          #telefone="ngModel" required></p-inputMask>

          <app-message [control]="telefone" error="required"
            text="Informe o Telefone"></app-message>
      </div>
      <div class="ui-md-2 ui-fluid">
        <button pButton label="Cadastrar" (click)="onSubmitA(aluno)" class="ui-button-warning" [disabled]="!alunoForm.valid"></button>
      </div>
    </form>
  </div>
</div>
